<h2> Edit Post! </h2>

<form action='<%= post_url(@post) %>' method='post'>
	<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
	<input type='hidden' name='_method' value='patch'>
	<label>Title
		<input type='text' name='post[title]' value='<%= @post.title %>'>
	</label>
	<br>
	<label>Body
		<textarea name='post[body]'><%= @post.body %></textarea>
	</label>
	<br>
	<input type='submit' value='Update Post'>
</form>