<h3> I'm the posts page! </h3>
<ul>
	<% @posts.each do |post| %>
		<li>
			<%= link_to(post.title, post_url(post), method: :get) %>
			<%= link_to("Edit Post", edit_post_url(post), method: :get) %>
			
		</li>
	<% end %>
</ul>