<h2> New Post! </h2>

<form action='<%= posts_url %>' method='post'>
	<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
	<label>Title
		<input type='text' name='post[title]' value='<%= @post.title %>'>
	</label>
	<br>
	<label>Body
		<textarea name='post[body]'><%= @post.body %></textarea>
	</label>
	<br>
	<input type='submit' value='Create New Post'>
</form>