
<h2>Sign In To Look At Cats</h2>

<form action="<%= session_url %>" method="post">
  <%= render "layouts/auth_token" %>
  
  <label>
    Username:
    <input type="text" name="user[username]" value="<%= @user.username %>">
  </label>
  <br>
  <label>
    Password:
    <input type="password" name="user[password]">
  </label>
  <br>
  <input type="submit" value= "Destroy Productivity">
</form>

